
<!--
	<h1>hello!</h1>
<p><%= @msg %></p>
<p>
<% @filenames.each do |f| %>
	[タイトル]<%= f.filename %>, [登録日？]<%= f.id %><br />
<% end %>
</p>
-->
<div id="wrap">
	<div id="header"></div>
	<div id="enchant-stage"></div>
	<div id="footer"></div>

	<div id="b-reset">RESET</div>
	<div id="b-next">NEXT</div>
	<div id="b-prev">PREV</div>
</div>
