// Place all the styles related to the puzzlelist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    margin: 0;
}
/*
#wrap {
	width: 100%;
}

#enchant-stage {
	margin: 0 auto;
}
*/

