// Place all the styles related to the puzzlelist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//for footer layout
html,body {
    height: 100%;
    margin: 0;
}

* html div#all-wrap {
    height: 100%;
}

div#all-wrap {
    height: 100%;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
}
//header&footer
//$main_color: #3cf;
#main-contents {
//    padding-bottom: 80px;
    text-align: center;
}

#header {
	text-align: center;
	width: 100%;
	height: 30px;
	background-color: #ffd700;
}
#enchant-stage {
	text-align: left;
	margin: 0 auto;
	width: 320px;
}

#doc {
    display: none;//初期設定では隠す
}


#footer {
    width: 100%;
    height: 50px;
	background-color: #ffd700;
	text-align: center;
    bottom: 0;
    position: absolute;
    
    #buttons {
        margin: 0 auto;
        width: 450px;
        div {
            width: 80px;
            float: left;
        }

    }

    #information {
        clear: both;
    }

}//end #footer


